<!DOCTYPE html>
<html ng-app="GitApp">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0/">
    <title>Git</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>


</head>
<body>


<div ng-controller="GetUsersController">

   <div  ng-repeat="user in users">
       <img width="50px" ng-src="{{user.avatar_url}}"/>
       <p>{{user.login}}</p>
       <a ng-href="{{user.html_url}}">{{user.html_url}}</a>
       <p ng-if="user.site_admin == true">Admin</p>
   </div>

    <button >  prev </button>
    <button ng-click="nextPage()">  next </button>

</div>

Link: <http://example.com/TheBook/chapter2>; rel="previous";
title="previous chapter"


</body>
</html>