<div ng-controller="NextUsersController">
   <div class="container-fluid">
        <h1> All GitHub Users</h1>
        <user-item ng-repeat="user in nextusers"  > </user-item>
        <div class="container">
            <div class="row btnBlock" >
                <a ng-href="#/prev/{{nextusers[0].id}}" rel="prev" class="btn btn-default"> prev </a>
                <a ng-href="#/all/{{nextusers[29].id}}" rel="next" class="btn btn-default" >  next </a>
            </div>
        </div>
    </div>
</div>