<div class="container-fluid" ng-controller="GetSingleUsers as UserData" >

<div class="container row userBlock"  >

    <img  class="img-thumbnail userAvatar"  ng-src="{{UserData.avatar_url}}"/>

    <div class="infoAbout">
        <div class="UserAdminWrap"> <p class="UserAdmin" ng-if="UserData.site_admin == true">Admin</p>  </div>
        <p class="userLogin"> {{UserData.login}}</p>
        <a ng-href="{{UserData.html_url}}">{{UserData.html_url}}</a>
    </div>
</div>

    <ul class="SingleUserList">
        <li> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ UserData.name}} </li>
        <li> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ UserData.company}} </li>
        <li> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ UserData.email}} </li>
        <li> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ UserData.followers}} </li>
        <li> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ UserData.created_at}} </li>

    </ul>
</div>